.cover-about {

    /* Desktop devices */
    @media (min-aspect-ratio: 16/9) {
        p.header {
            width: calc(1312 * var(--big));
            height: calc(64 * var(--big));
            font: 600 calc(36 * var(--big))'IBM Plex Sans Thai';
            margin: calc(112 * var(--big)) auto 0 auto;
            display: flex;
            align-items: center;
        }


        ul.card {
            width: calc(1312 * var(--big));
            height: calc(304 * var(--big));
            list-style: none;
            display: flex;
            gap: calc(32 * var(--big));
            margin: calc(64 * var(--big)) auto 0 auto;
        }

        ul.card li {
            width: calc(528 * var(--big));
            height: calc(304 * var(--big));
            background: linear-gradient(#FFB05C, #FF5C5C);
            cursor: pointer;
            color: #FFFFFF;
        }

        ul.card li:last-of-type {
            background: linear-gradient(#5C8DFF, #5CC3FF);
        }

        ul.card li:hover {
            transition: 0.3s;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
            
        }

        ul.card li div {
            width: calc(192 * var(--big));
            height: calc(304 * var(--big));
            padding: calc(16 * var(--big));
            font: 600 calc(20 * var(--big)) 'Inter';
            background: #000000;
        }
        p.sub-header{
            width: calc(1312 * var(--big));
            height: calc(64 * var(--big));
            display: flex;
            align-items: center;
            font:600 calc(24 * var(--big)) 'IBM Plex Sans Thai';
            margin: calc(64 * var(--big)) auto 0 auto;
            border-bottom: 1px solid #DBDBDB;
        }
        p.content{
            width: calc(1312 * var(--big));
            height: auto;
            margin: calc(16 * var(--big)) auto 0 auto;
            font:400 calc(16 * var(--big)) 'IBM Plex Sans Thai';
            color:#808080;
            text-indent: calc(16 * var(--big));
        }
        p.content:last-of-type{
            text-indent: 0;
            margin-bottom: calc(112 * var(--big));
        }
    }

    /* Tablet devices */
    @media (max-aspect-ratio: 16/9) {
        p.header {
            width: calc(1312 * var(--medium));
            height: calc(64 * var(--medium));
            font: 600 calc(36 * var(--medium))'IBM Plex Sans Thai';
            margin: calc(112 * var(--medium)) auto 0 auto;
            display: flex;
            align-items: center;
        }


        ul.card {
            width: calc(1312 * var(--medium));
            height: calc(304 * var(--medium));
            list-style: none;
            display: flex;
            gap: calc(32 * var(--medium));
            margin: calc(64 * var(--medium)) auto 0 auto;
        }

        ul.card li {
            width: calc(528 * var(--medium));
            height: calc(304 * var(--medium));
            background: linear-gradient(#FFB05C, #FF5C5C);
            cursor: pointer;
            color: #FFFFFF;
        }

        ul.card li:last-of-type {
            background: linear-gradient(#5C8DFF, #5CC3FF);
        }

        ul.card li:hover {
            transition: 0.3s;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
            
        }

        ul.card li div {
            width: calc(192 * var(--medium));
            height: calc(304 * var(--medium));
            padding: calc(16 * var(--medium));
            font: 600 calc(20 * var(--medium)) 'Inter';
            background: #000000;
        }
        p.sub-header{
            width: calc(1312 * var(--medium));
            height: calc(64 * var(--medium));
            display: flex;
            align-items: center;
            font:600 calc(24 * var(--medium)) 'IBM Plex Sans Thai';
            margin: calc(64 * var(--medium)) auto 0 auto;
            border-bottom: 1px solid #DBDBDB;
        }
        p.content{
            width: calc(1312 * var(--medium));
            height: auto;
            margin: calc(16 * var(--medium)) auto 0 auto;
            font:400 calc(16 * var(--medium)) 'IBM Plex Sans Thai';
            color:#808080;
            text-indent: calc(16 * var(--medium));
        }
        p.content:last-of-type{
            text-indent: 0;
            margin-bottom: calc(112 * var(--medium));
        }
    }

    /* Mobile devices */
    @media (max-width: 767px) {}

}