/* Desktop devices */
@media (min-aspect-ratio: 16/9) {}

/* Tablet devices */
@media (max-aspect-ratio: 16/9) {
    
    div.account-card{
        width: calc(224 * var(--medium));
        height: calc(348 * var(--medium));
        padding: calc(16 * var(--medium));
        border: 1px solid #F5F5F5;
        position: fixed;
        top:calc(72 * var(--medium));
        right:calc(64 * var(--meduim));
        left: auto;
        margin: calc(72 * var(--medium)) calc(64 * var(--meduim)) auto 0;
    }
    div.account-card:hover{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    button.account-card-close-button{
        width: calc(24 * var(--medium));
        height: calc(24 * var(--medium));
        font-size: calc(24 * var(--medium));
        border: 0;
        background: none;
        cursor: pointer;
        margin: 0 0 0 calc(168 * var(--medium));
    } button.account-card-close-button:hover{
        color: #FF5C5C;
    }
    div.account-image{
        width: calc(64 * var(--medium));
        height: calc(64 * var(--medium));
        background: url(../assets/user-icon-black.svg) no-repeat center;
        background-size: cover;
        border: 1px solid #F5F5F5;
        border-radius: calc(32 * var(--medium));
        margin: 0 auto;
    }
}

/* Mobile devices */
@media (max-width: 767px) {}