.cover-home {

    /* Desktop devices */
    @media (min-aspect-ratio: 16/9)  {
        .hero-section {
            width: 100%;
            height: calc(704 * var(--big));
            background: url(../assets/background-main.jpg) no-repeat center;
            background-size: cover;

        }

        p.hero-header {
            width: calc(1088 * var(--big));
            height: calc(192 * var(--big));
            display: grid;
            place-items: center;
            text-align: center;
            font: 700 calc(64 * var(--big)) Arial;
            margin: calc(176 * var(--big)) auto 0 auto;
        }

        p.hero-subheader {
            width: calc(480 * var(--big));
            height: calc(48 * var(--big));
            display: grid;
            place-items: center;
            text-align: center;
            font: 400 calc(20 * var(--big)) Arial;
            margin: calc(16 * var(--big)) auto 0 auto;
            color: #808080;
        }

        ul.section-2 {
            width: calc(735 * var(--big));
            height: calc(128 * var(--big));
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: calc(64 * var(--big)) auto 0 auto;
        }

        ul.section-2 a {
            cursor: pointer;
            text-decoration: none;
        }

        ul.section-2 li:hover {
            transition: 0.5s;
            transform: scale(1.05);
        }
        ul.section-2 li:hover div.section-2-icon{
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
        div.section-2-icon {
            width: calc(80 * var(--big));
            height: calc(80 * var(--big));
            background: #5CC3FF;
            color: #FFFFFF;
            display: grid;
            place-items: center;
            border-radius: calc(40 * var(--big));
            font-size: calc(32 * var(--big));
        }

        p.section-2-title {
            width: calc(80 * var(--big));
            height: calc(32 * var(--big));
            display: grid;
            place-items: center;
            font: 400 calc(14 * var(--big)) 'IBM Plex Sans Thai';
            margin: calc(16 * var(--big)) 0 0 0;
            color: #1C1B1F;
        }

        p.section-3-title {
            width: calc(1312 * var(--big));
            height: calc(48 * var(--big));
            display: flex;
            align-items: center;
            font: 700 calc(32 * var(--big)) Arial;
            margin: calc(64 * var(--big)) auto 0 auto;
        }

        ul.section-3 {
            width: calc(1312 * var(--big));
            height: calc(304 * var(--big));
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-between;
            margin: calc(16 * var(--big)) auto 0 auto;
        }

        ul.section-3 li {
            width: calc(304 * var(--big));
            height: calc(304 * var(--big));
            border-radius: calc(32 * var(--big));
            padding: 0 calc(32 * var(--big));
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 10;
        }

        ul.section-3 li:hover {
            transition: 0.3s;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }

        ul.section-3 li hr {
            width: calc(240 * var(--big));
            margin: calc(48 * var(--big)) auto 0 auto;
            border-style: dashed;
            border-width: 1px;
        }

        ul.section-3 li a {
            width: calc(40 * var(--big));
            height: calc(40 * var(--big));
            font-size: calc(24 * var(--big));
            display: grid;
            place-content: center;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: calc(8 * var(--big));
            position: static;
            margin: calc(-48 * var(--big)) 0 0 auto;
        }

        ul.section-3 li a:hover {

            transition: 0.5s;
            transform: scale(1.05);
            padding-left: calc(8 * var(--big));
        }

        p.section-3-subheader {

            width: calc(240 * var(--big));
            height: calc(16 * var(--big));
            color: #FFFFFF;
            font: 500 calc(12 * var(--big)) 'IBM Plex Sans Thai';
            margin: calc(32 * var(--big)) 0 0 0;
            display: flex;
            align-items: center;
        }

        p.section-3-header {
            width: calc(240 * var(--big));
            height: calc(48 * var(--big));
            font: 600 calc(24 * var(--big)) 'IBM Plex Sans Thai';
            display: flex;
            align-items: center;
        }

        p.section-3-explain {
            width: calc(240 * var(--big));
            height: calc(48 * var(--big));
            font: 500 calc(12 * var(--big)) 'IBM Plex Sans Thai';
            margin: calc(16 * var(--big)) 0 0 0;
        }

        p.section-3-detial-title {
            width: calc(160 * var(--big));
            height: calc(56 * var(--big));
            font: 600 calc(16 * var(--big)) 'IBM Plex Sans Thai';
            margin: calc(24 * var(--big)) 0 0 0;
            display: flex;
            align-items: center;
        }

        li.section-3-1 {
            background: #5CC3FF;
        }

        li.section-3-2 {
            background: #FF5C5C;
        }

        li.section-3-3 {
            background: #FFC65C;
        }

        li.section-3-4 {
            background: #5C8DFF;
        }

        li.section-3-1 hr {
            color: #5C8DFF;
        }

        li.section-3-1 a {
            background: #5C8DFF;
        }

        li.section-3-2 hr {
            color: #FFB05C;
        }

        li.section-3-2 a {
            background: #FFB05C;
        }

        li.section-3-3 hr {
            color: #FF5C5C;
        }

        li.section-3-3 a {
            background: #FF5C5C;
        }

        li.section-3-4 hr {
            color: #5CC3FF;
        }

        li.section-3-4 a {
            background: #5CC3FF;
        }

        div.section-4-header-container {
            width: calc(1312 * var(--big));
            height: calc(64 * var(--big));
            margin: calc(64 * var(--big)) auto 0 auto;
            display: grid;
            place-content: center;
        }

        div.section-4-header-container p {
            width: calc(192 * var(--big));
            height: calc(64 * var(--big));
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font: 700 calc(32 * var(--big)) Arial;
            background: #FFFFFF;
        }

        div.section-4-header-container hr {
            width: calc(1312 * var(--big));
            margin: calc(32 * var(--big)) auto 0 auto;
            position: absolute;
            // border-style: dashed;
            border-width: 1px;
            color: #DBDBDB;
            z-index: -1;

        }

        div.product-section {
            width: calc(1216 * var(--big));
            height: 100vh;
            margin: calc(64 * var(--big)) auto calc(112 * var(--big)) auto;
            display: grid;
            gap: calc(24 * var(--big));
        }

    }

    /* Tablet devices */
    @media (max-aspect-ratio: 16/9)  {

        .hero-section {
            width: 100%;
            height: calc(704 * var(--medium));
            background: url(../assets/background-main.jpg) no-repeat center;
            background-size: cover;

        }

        p.hero-header {
            width: calc(1088 * var(--medium));
            height: calc(192 * var(--medium));
            display: grid;
            place-items: center;
            text-align: center;
            font: 700 calc(64 * var(--medium)) Arial;
            margin: calc(176 * var(--medium)) auto 0 auto;
        }

        p.hero-subheader {
            width: calc(480 * var(--medium));
            height: calc(48 * var(--medium));
            display: grid;
            place-items: center;
            text-align: center;
            font: 400 calc(20 * var(--medium)) Arial;
            margin: calc(16 * var(--medium)) auto 0 auto;
            color: #808080;
        }

        ul.section-2 {
            width: calc(735 * var(--medium));
            height: calc(128 * var(--medium));
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: calc(64 * var(--medium)) auto 0 auto;
        }

        ul.section-2 a {
            cursor: pointer;
            text-decoration: none;
        }

        ul.section-2 li:hover {
            transition: 0.5s;
            transform: scale(1.05);
        }
        ul.section-2 li:hover div.section-2-icon{
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
        div.section-2-icon {
            width: calc(80 * var(--medium));
            height: calc(80 * var(--medium));
            background: #5CC3FF;
            color: #FFFFFF;
            display: grid;
            place-items: center;
            border-radius: calc(40 * var(--medium));
            font-size: calc(32 * var(--medium));
        }

        p.section-2-title {
            width: calc(80 * var(--medium));
            height: calc(32 * var(--medium));
            display: grid;
            place-items: center;
            font: 400 calc(14 * var(--medium)) 'IBM Plex Sans Thai';
            margin: calc(16 * var(--medium)) 0 0 0;
            color: #1C1B1F;
        }

        p.section-3-title {
            width: calc(1312 * var(--medium));
            height: calc(48 * var(--medium));
            display: flex;
            align-items: center;
            font: 700 calc(32 * var(--medium)) Arial;
            margin: calc(64 * var(--medium)) auto 0 auto;
        }

        ul.section-3 {
            width: calc(1312 * var(--medium));
            height: calc(304 * var(--medium));
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-between;
            margin: calc(16 * var(--medium)) auto 0 auto;
        }

        ul.section-3 li {
            width: calc(304 * var(--medium));
            height: calc(304 * var(--medium));
            border-radius: calc(32 * var(--medium));
            padding: 0 calc(32 * var(--medium));
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 10;
        }

        ul.section-3 li:hover {
            transition: 0.3s;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }

        ul.section-3 li hr {
            width: calc(240 * var(--medium));
            margin: calc(48 * var(--medium)) auto 0 auto;
            border-style: dashed;
            border-width: 1px;
        }

        ul.section-3 li a {
            width: calc(40 * var(--medium));
            height: calc(40 * var(--medium));
            font-size: calc(24 * var(--medium));
            display: grid;
            place-content: center;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: calc(8 * var(--medium));
            position: static;
            margin: calc(-48 * var(--medium)) 0 0 auto;
        }

        ul.section-3 li a:hover {

            transition: 0.5s;
            transform: scale(1.05);
            padding-left: calc(8 * var(--medium));
        }

        p.section-3-subheader {

            width: calc(240 * var(--medium));
            height: calc(16 * var(--medium));
            color: #FFFFFF;
            font: 500 calc(12 * var(--medium)) 'IBM Plex Sans Thai';
            margin: calc(32 * var(--medium)) 0 0 0;
            display: flex;
            align-items: center;
        }

        p.section-3-header {
            width: calc(240 * var(--medium));
            height: calc(48 * var(--medium));
            font: 600 calc(24 * var(--medium)) 'IBM Plex Sans Thai';
            display: flex;
            align-items: center;
        }

        p.section-3-explain {
            width: calc(240 * var(--medium));
            height: calc(48 * var(--medium));
            font: 500 calc(12 * var(--medium)) 'IBM Plex Sans Thai';
            margin: calc(16 * var(--medium)) 0 0 0;
        }

        p.section-3-detial-title {
            width: calc(160 * var(--medium));
            height: calc(56 * var(--medium));
            font: 600 calc(16 * var(--medium)) 'IBM Plex Sans Thai';
            margin: calc(24 * var(--medium)) 0 0 0;
            display: flex;
            align-items: center;
        }

        li.section-3-1 {
            background: #5CC3FF;
        }

        li.section-3-2 {
            background: #FF5C5C;
        }

        li.section-3-3 {
            background: #FFC65C;
        }

        li.section-3-4 {
            background: #5C8DFF;
        }

        li.section-3-1 hr {
            color: #5C8DFF;
        }

        li.section-3-1 a {
            background: #5C8DFF;
        }

        li.section-3-2 hr {
            color: #FFB05C;
        }

        li.section-3-2 a {
            background: #FFB05C;
        }

        li.section-3-3 hr {
            color: #FF5C5C;
        }

        li.section-3-3 a {
            background: #FF5C5C;
        }

        li.section-3-4 hr {
            color: #5CC3FF;
        }

        li.section-3-4 a {
            background: #5CC3FF;
        }

        div.section-4-header-container {
            width: calc(1312 * var(--medium));
            height: calc(64 * var(--medium));
            margin: calc(64 * var(--medium)) auto 0 auto;
            display: grid;
            place-content: center;
        }

        div.section-4-header-container p {
            width: calc(192 * var(--medium));
            height: calc(64 * var(--medium));
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font: 700 calc(32 * var(--medium)) Arial;
            background: #FFFFFF;
        }

        div.section-4-header-container hr {
            width: calc(1312 * var(--medium));
            margin: calc(32 * var(--medium)) auto 0 auto;
            position: absolute;
            // border-style: dashed;
            border-width: 1px;
            color: #DBDBDB;
            z-index: -1;

        }

        div.product-section {
            width: calc(1216 * var(--medium));
            height: 100vh;
            margin: calc(64 * var(--medium)) auto calc(112 * var(--medium)) auto;
            display: grid;
            gap: calc(24 * var(--medium));
        }

    
    }

    /* Mobile devices */
    @media (max-width: 767px) {}
}